{% extends 'layout.html' %}

{% block css_files %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
{% endblock  %}



{% block title %}
anasayfa
{% endblock  %}

{% block content %}
<div class="container mt-3"> <!--mt-3 margin top ile üstten bosluk verdik mt 1 2 3 olabilir-->
    <div class="row"> <!--satırı böldük 3 birim sol, sağ 9 sağ-->
        <div class="col-3"></div>
        <!--menu-->
        {% include "courses/partials/_categories.html" %}
        <div class="col-9"></div>

            <h1>anasayfa</h1>
        <!--content--> <!--about contact ve index e göre değiştirilebilir alanı yazıyoruz başka html çekiyoruz-->
        
    </div>
</div>
<i class="fa-solid fa-bug"></i>
{% endblock  %}

{% block js_files %}{% endblock  %}