<!DOCTYPE html>
<html lang="en">
<head> <!--cdnjs sayfasından min.css ve- min.js linklerini aldık-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"/>

    {% block css_files %}{% endblock  %}

    <title>CourseApp | {% block title %}{% endblock %}</title>
</head>
<body>
    <!--navbar-->
   
    {% include "partials/_nav.html" %}

    {% block content %}{% endblock %}
    
    <h1>TEST</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" ></script>
    {% block js_files %}{% endblock  %}
</body>
</html>